<section id="search" class="search-wrap">
    <img class="wendilogo" src="/img/wendilogo.png" alt="">
    <h1>What can I help you with today?</h1>
    <form action="/notes/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Yesterday's notes...">
        <input type="submit" value="Search">
    </form>
</section>